@import "tailwindcss";

body {
  background-color: black;
  color: white;
}

@theme {
  --font-sans: "Atkinson Hyperlegible Next Variable", sans-serif;
  --font-mono: "IosevkaTerm NF", monospace;
}

a {
  @apply hover:underline;
}
